/* Colors */
$bg_soft-blue: #6593A3;
$bg_oragne: #ff865e;

$gutter: 5px;

html {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    margin: 0;
    padding: $gutter;
}

h2 {
    font-size: 2rem;
    margin: 0;
    padding: $gutter;
}

.home {
    background-color: $bg_soft-blue;
    color: white;
    display: table;
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    div {
        display: table-cell;
        vertical-align: middle;
        width: 100%
    }
    
    img {
    	border-radius: 50%;
        height: 30vh;
        max-height: 230px;
        padding: $gutter;
    }
}

.about {
    background-color: $bg_oragne;
    color: white;
}
